src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="86263765-cff2-4f27-ae4a-f83f02a2dd68" name="Router" />
	<flow name="poc-uploadfiles-multipart-api-main-flow" doc:id="5b58635b-0994-40d5-a48a-11e28d09d8e9" >
		<http:listener doc:name="Listener" doc:id="a17e0234-d3ca-4f21-9bce-cea929dc00da" path="/uploadFile" config-ref="HTTP_Listener_config">
			<http:response statusCode="#[vars.httpStatus]" />
			<http:error-response statusCode="#[vars.httpStatus]" >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="91ce3274-7a99-4b34-b0d9-1bd44abf35db" />
		<flow-ref doc:name="poc-uploadfiles-multipartFlow" doc:id="eb24325d-552d-4e36-af0f-b79b433e33b8" name="poc-uploadfiles-multipartFlow"/>
		<error-handler ref="global-error-handler" />
	</flow>
</mule>
